DrivingLicense/XMLClasses/XMLSchema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DrivingLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string" />
        <xs:element name="FatherName" type="xs:string" />
        <xs:element name="Address" type="xs:string" />
        <xs:element name="Pin" type="xs:unsignedInt" />
        <xs:element name="BG" type="xs:string" />
        <xs:element name="DOB" type="xs:string" />
        <xs:element name="CountryName" type="xs:string" />
        <xs:element name="StateName" type="xs:string" />
        <xs:element name="DLNumber" type="xs:string" />
        <xs:element name="IssuingId" type="xs:string" />
        <xs:element name="DOI" type="xs:string" />
        <xs:element name="ValidTill" type="xs:string" />
        <xs:element name="COV1" type="xs:string" />
        <xs:element name="COV2" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
